<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431231126719-22f7l9tsqkuoqqgh5buh9dt8lheo9hd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431231126719-22f7l9tsqkuoqqgh5buh9dt8lheo9hd1</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullsail.BackaRyan-Proof</string>
	<key>PROJECT_ID</key>
	<string>money-hungry-87362216</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:431231126719:ios:6b85a33bdce588a7</string>
  <key>LEAD_MONEY_HUNGRY_LEADERBOARD</key>
  <string>CgkIv5mDu8YMEAIQBQ</string>
</dict>
</plist>
